<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cotizacion</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %> 
    <%- include('partials/nav.ejs') %>
    <section>
      <form class="formulario" action="/cotizacion" method="post">
        <div class="input-container">
            <h3>Realiza tu cotizacion</h3> 
            <label for="">Folio</label>
            <input type="text" name="folio" id="folio" required>
        </div>    
            <label for="">Descripcion del vehiculo</label>
            <input type="text" name="vehiculo" id="vehiculo" required> 
        </div>
        <div>
            <label for="">Valor de Automovil</label>
            <input type="number" name="valor" id="valor" required value="<%=valor%>" />
        </div>
        <div>
            <label for="">Porcentaje de pago inicial</label>
            <input type="number" name="pInicial" id="pInicial"  required value="<%=pInicial%>"/>
        </div>
        <div>
            <label for="">Plazo en meses</label>
            <select class="" name="plazos" id="plazos"  required value="<%=plazos%>">
              <option value="12">12 meses</option>
              <option value="24">24 meses</option>
              <option value="36">36 meses</option>
              <option value="48">48 meses</option>
              <option value="60">60 meses</option>
            </select>
        </div>
        <div class="buttons-container">
            <button type="submit">Calcular</button>
            <button><a href="/cotizacion">Limpiar</a></button>

        </div>
      </form>
      <div class="res-container">
        <h3>Total a pagar</h3>
            <%
            if(valor){
                pInicial = valor * (pInicial / 100);
                let cuota = (valor - pInicial) / plazos;
                cuota = cuota.toFixed(2);
                %>
                <h5>Pago inicial: $<%=pInicial%> </h5>
                <h5>Total a financiar:  $<%=valor%> </h5>
                <h5>Pago mensual:  $<%=cuota%> </h5>
                <%
          }
        %>        
        
      </div>
    </section>
    <%- include('partials/footer.ejs') %>
  </body>
  <style>
    button a {
   color: black;  
   text-decoration: none; 
 }
 
 /* Estilos para el formulario */
 .formulario {
   color: black;  
   display: flex;
   background-color: #8ebaef;
   border: solid 1px black;
   padding: 10px;
   border-radius: 5px;
   width: min(500px, 90%); 
   margin: 20px auto;
   flex-direction: column;
   align-items: left; 
   gap: 0.8rem;
 }
 
 /* Estilos para el contenedor de botones */
 .buttons-container {
   color: black;   
   display: flex;
   justify-content: space-between;
   width: 50%; 
   margin-top: 20px; 
 }
 
 /* Estilos para el contenedor de resultados */
 .res-container {
   color: black;  
   background-color: #8ebaef;
   width: min(500px, 90%); 
   border: solid 1px black;
   padding: 10px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: left;
   gap: 0.8rem;
   margin: 20px auto;
 }
   </style>
</html>
