<%-include('partials/header.ejs')%>

<%-include('partials/nav.ejs')%>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Nobis voluptatibus numquam ullam impedit expedita ratione 
    quibusdam vitae vero, omnis nam rerum, deleniti accusantium 
    sint reiciendis. Excepturi eveniet veritatis suscipit odit.
</p>

<%-include('partials/footer.ejs')%>
</body>
</html>